{% macro apply_classes(classes) -%}
{# Util to apply css classes inside an element. #}
{% for css in classes %}{{ css }} {% endfor %}
{%- endmacro %}


{% macro apply_dattrs(data_attrs) -%}
{# Util to apply data-attributes inside an element. #}
{% for attr in data_attrs %}data-{{ attr }} {% endfor %}
{%- endmacro %}


{% macro dictlist_dl(data, filterkeys=[], filtervals=[]) %}
{# Makes a definition list from a dictionary - the correspondence should be:
    dt: key, dd: value #}
<dl>
    {% for k, v in data.iteritems() -%}
        {% if k not in filterkeys and v not in filtervals %}
            <dt>{{ k }}</dt>
            <dd>{{ v }}</dd>
        {% endif %}
    {% endfor %}
</dl>
{%- endmacro %}


{% macro dict2list(data, type='ul', filterkeys=[], filtervals=[]) %}
{# Makes a list from a set of dictionaries #}
<{{ type }}>
    {% for k, v in data.iteritems() %}
        {% if k not in filterkeys and v not in filtervals %}
            <li><strong>{{ k }}</strong>: {{ v }}</li>
        {% endif %}
    {% endfor %}
</{{ type }}>
{%- endmacro %}


{% macro bs3_dictlist_group(data, filterkeys=[], filtervals=[]) %}
{# Makes a bootstrap list group from a set of dictionaries #}
<div class="list-group">
    {% for k, v in data.iteritems() %}
        {% if k not in filterkeys and v not in filtervals %}
            <h4 class="list-group-item-heading">{{ k }}</h4>
            <p class="list-group-item-text">{{ v }}</p>
        {% endif %}
    {% endfor %}
</div>
{%- endmacro %}


{% macro bs3_list_group(data, type='ul') %}
{# OL/UL based bootstrap list group #}
<{{ type }} class="list-group">
    {% for val in data %}
        <li class="list-group-item">{{ val }}</li>
    {% endfor %}
</{{ type }}>
{%- endmacro %}


{% macro dictlist2nav(data, type='ul', filterkeys=[], filtervals=[]) %}
{# Make a list of links with nav element.
    Format must be a list of dictionaries.
    Supports *one* level of nesting. #}
<nav>
    <{{ type }}>
        {% for item in data %}
            {% for k, v in item.items() %}
                {% if k not in filterkeys and v not in filtervals %}
                    <li><a href="{{ k }}">{{ v }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </{{ type }}>
</nav>
{%- endmacro %}


{% macro dictlist2dropdown(data, filterkeys=[], filtervals=[]) %}
{# Make a dropdown element.
    Format must be a list of dictionaries. #}
<select>
    {% for item in data %}
        {% for k, v in item.items() %}
            {% if k not in filterkeys and v not in filtervals %}
                <option value="{{ k }}">{{ v }}</option>
            {% endif %}
        {% endfor %}
    {% endfor %}
</select>
{%- endmacro %}


{% macro dictlist2checkboxes(data, fieldset_class='fieldset-group',
                             filterkeys=[], filtervals=[]) %}
{# Make a checkbox group, where keys are input names, and values are labels.
    Format must be a list of dictionaries. #}
<fieldset class="{{ fieldset_class }}">
    {% for item in data %}
        {% for k, v in item.items() %}
            {% if k not in filterkeys and v not in filtervals %}
                <label>
                    {{ v }}
                    <input type="checkbox" name="{{ k }}">
                </label>
            {% endif %}
        {% endfor %}
    {% endfor %}
</fieldset>
{%- endmacro %}


{% macro objects2table(objs, classes=[], data_attrs=[],
                       filterkeys=[], filtervals=[],
                       pk_link=None,
                       handle_links=True,
                       field_macros={}
                       )
-%}
{# Create table from a list of objects (class instantiations). Also add links for primary keys if specified. #}
<table
    class="{{ apply_classes(classes) }}"
    {{ apply_dattrs(data_attrs) }}>
    <thead>
        {% for obj in objs %}
            {% if loop.first %}
                {% for heading, _ in obj.__dict__.iteritems() %}
                    {# Allow filtering of headings. #}
                    {% if heading not in filterkeys %}
                        <th>{{ heading }}</th>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </thead>
    <tbody>
        {% for obj in objs %}
            <tr>
                {% for k, v in obj.__dict__.iteritems() %}
                    {# Allowing filtering of keys and values. #}
                    {% if k not in filterkeys %}
                        {% if v not in filtervals %}
                            <td>
                                {# Handle all primary key links, a common occurence #}
                                {% if pk_link and k == 'id' %}
                                    <a href="{{ pk_link }}/{{ v }}">{{ v }}</a>
                                {% elif handle_links and v|is_url %}
                                    <a href="{{ v }}" target="_blank">{{ v }}</a>
                                {% elif k in field_macros.keys() %}
                                    {# If a field macro is specified by key, call it on this field for arbitrary levels of customization #}
                                    {{ field_macros[k](v) }}
                                {% else %}
                                    {{ v }}
                                {% endif %}
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}


{% macro wtform_errors(formobj) -%}
{# Show a list of form errors based on a given wtform instance. #}
{% if formobj.errors %}
    {% for field, errors in formobj.errors.items() %}
        <div class="alert alert-danger">
            <p>
                <strong>Error(s) for '{{ field }}': </strong>
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </p>
        </div>
    {% endfor %}
{% endif %}
{%- endmacro %}


{% macro wtform_form(formobj, action='.', method='GET', classes=[],
                     data_attrs=[], btn_classes=[], uploads=True,
                     enctype=None, btn_text='Submit',
                     formid=None, reset_btn=True,
                     legend=None,
                     reset_btn_classes=[])
-%}
    <form action="{{ action }}" method="{{ method }}"
    class="{{ apply_classes(classes) }}"
    {% if enctype %}
        enctype="{{ enctype }}"
    {% endif %}
    {{ apply_dattrs(data_attrs) }} role="form" {% if formid %}id="{{ formid }}"{% endif %}>
        {% set invalid_fields = ['CSRFTokenField', 'HiddenField'] %}
        {{ wtform_errors(formobj) }}
        <fieldset>
            {% if legend %}
                <legend>{{ legend }}</legend>
            {% endif %}
            {% for field in formobj %}
                {# Only show labels and descriptions if they are normal fields. #}
                {% if field.type not in invalid_fields %}
                    {{ field.label }}
                    {% if field.description %}
                        <small>{{ field.description }}</small>
                    {% endif %}
                {% endif %}
                {{ field }} {% if field.type not in invalid_fields %}<br>{% endif %}
            {% endfor %}
        </fieldset>
        {# Add typical form submit button. #}
        <button type="submit" class="{{ apply_classes(btn_classes) }}">{{ btn_text }}</button>
        {# Add a reset field values button if specified. #}
        {% if reset_btn %}
            <button type="reset" class="{{ apply_classes(reset_btn_classes) }}">Reset</button>
        {% endif %}
    </form>
{%- endmacro %}


{%- macro recurse_dictlist(val, type='ul', classes=[]) %}
    {#
        Uses the jinja2 recursive looping to recurse over a dictionary and display
        as a list (ordered or unordered), or display a default value otherwise.
    #}
    {% if val is mapping %}
        <{{ type }} class="{{ apply_classes(classes) }}">
            {% for k, v in val.items() recursive %}
                {% if v is mapping %}
                    <li>
                        <strong>{{ k }}:</strong>
                        <{{ type }} class="{{ apply_classes(classes) }}">
                            {{ loop(v.items()) }}
                        </{{ type }}>
                    </li>
                {% else %}
                    <li>
                        {% if v|islist %}
                            <{{ type }} class="{{ apply_classes(classes) }}">
                                {% for item in v %}
                                    <li>
                                        {% for itemv in v recursive %}
                                            {{ recurse_dictlist(itemv, type=type) }}
                                        {% endfor %}
                                    {% endfor %}
                                </li>
                            </{{ type }}>
                        {% else %}
                            <strong>{{ k }}</strong>: {{ v }}
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </{{ type }}>
    {% else %}
        {{ val }}
    {% endif %}
{%- endmacro %}
