{% macro dictlist_dl(data) %}
{# Makes a definition list from a dictionary - the correspondence should be:
    dt: key, dd: value #}
<dl>
    {% for k, v in data.iteritems() -%}
        <dt>{{ k }}</dt>
        <dd>{{ v }}</dd>
    {% endfor %}
</dl>
{%- endmacro %}


{% macro dict2list(data, type='ul') %}
{# Makes a list from a set of dictionary #}
<{{ type }}>
    {% for k, v in data.iteritems() %}
        <li><strong>{{ k }}</strong>: {{ v }}</li>
    {% endfor %}
</{{ type }}>
{%- endmacro %}


{% macro bs3_dictlist_group(data) %}
{# Makes a bootstrap list group from a set of dictionary #}
<div class="list-group">
    {% for k, v in data.iteritems() %}
        <h4 class="list-group-item-heading">{{ k }}</h4>
        <p class="list-group-item-text">{{ v }}</p>
    {% endfor %}
</div>
{%- endmacro %}


{% macro bs3_list_group(data, type='ul') %}
{# OL/UL based bootstrap list group #}
<{{ type }} class="list-group">
    {% for val in data %}
        <li class="list-group-item">{{ val }}</li>
    {% endfor %}
</{{ type }}>
{%- endmacro %}


{% macro dictlist2nav(data, type='ul') %}
{# Make a list of links with nav element.
    Format must be a list of dictionaries.
    Supports *one* level of nesting. #}
<nav>
    <{{ type }}>
        {% for item in data %}
            {% for k, v in item.items() %}
                <li><a href="{{ k }}">{{ v }}</a></li>
            {% endfor %}
        {% endfor %}
    </{{ type }}>
</nav>
{%- endmacro %}


{% macro objects2table(objs, classes=[], data_attrs=[], filterkeys=[], filtervals=[], pk_link=None) -%}
{# Create table from a list of objects (class instantiations) #}
<table
    class="{% for css in classes %}{{ css }} {% endfor %}"
    {% for attr in data_attrs %}data-{{ attr }}{% endfor %}>
    <thead>
        {% for obj in objs %}
            {% if loop.first %}
                {% for heading, _ in obj.__dict__.iteritems() %}
                    {% if heading not in filterkeys %}
                        <th>{{ heading }}</th>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </thead>
    <tbody>
        {% for obj in objs %}
            <tr>
                {% for k, v in obj.__dict__.iteritems() %}
                    {% if k not in filterkeys %}
                        {% if v not in filtervals %}
                            <td>
                                {# Handle all primary key links, a common occurence #}
                                {% if pk_link and k == 'id' %}
                                    <a href="{{ pk_link }}/{{ v }}">{{ v }}</a>
                                {% else %}
                                    {{ v }}
                                {% endif %}
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}
